src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="user" type="user">
    </xs:element>

    <xs:complexType name="user">
        <xs:sequence>
            <xs:element type="xs:long" name="userId"/>
            <xs:element type="xs:string" name="firstName"/>
            <xs:element type="xs:string" name="surname"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>